@charset "utf-8";
@import url("../css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap");

* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #777;
}
ul {
	list-style: none;
}
.cl::after {
	content: "";
	display: block;
	clear: both;
}
.hide {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	line-height: 0;
	overflow: hidden;
	text-indent: -9999px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	line-height: 1;
	font-family: "Roboto", "Arial", sans-serif;
}
body {
	font-size: 16px;
	color: #777;
	font-family: "Noto Sans KR", "Malgun gothic", "맑은 고딕", dotum, "돋움",
		sans-serif;
}
.in {
	width: 1365px;
	margin: 0 auto;
	position: relative; /*border:2px dotted red;*/
	box-sizing: border-box;
}

#header {
	background: #333;
	height: 50px;
	position: relative;
	z-index: 100;
}
#header .in {
	height: 50px;
	margin: 0 auto;
}
#header .gradi {
	background: linear-gradient(rgba(40, 40, 40, 0.75), rgba(40, 40, 40, 0));
	width: 100%;
	height: 50px;
	position: absolute;
	top: 50px;
}
#header .header_fix .logo {
	text-align: center;
	position: relative;
	top: 5px;
}

#header .nav {
	position: absolute;
	top: 10px;
	left: 30px;
}
#header .gnb > li {
	float: left;
	position: relative;
	padding: 0 0 15px;
}
#header .gnb > li > a {
	padding: 10px 15px 15px;
	position: relative;
	color: #fff;
}
#header .gnb > li:hover > a {
	color: #d5251a;
}
#header .gnb > li:hover > a::after {
	content: "";
	width: 100%;
	height: 3px;
	background: #d5251a;
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
}

#header .gnb > li .lnb {
	width: 250px;
	background: rgba(255, 255, 255, 0.9);
	position: absolute;
	padding: 15px 15px;
	margin-top: 15px;
	display: none;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
#header .lnb > li > a {
	display: inline-block;
	padding: 10px 0;
}
#header .lnb > li > a:hover {
	color: #d5251a;
}
#header .gnb > li:hover .lnb {
	display: block;
}

#header .top_menu {
	position: absolute;
	top: 12px;
	right: 0px;
	width: 176px;
	height: 35px;
}
#header .top_menu .top_list {
	width: 176px;
	height: 35px;
}
#header .top_menu li {
	float: left;
	width: 30px;
	height: 35px;
	display: inline-block;
	margin: 0 10px;
}
#header .top_menu li a {
	padding: 5px 5px 10px 5px;
	position: absolute;
	bottom: 0;
	color: #fff;
	display: inline-block;
}
#header .top_menu li a i {
	color: #fff;
}
#header .top_menu li a:hover::after {
	content: "";
	width: 100%;
	height: 3px;
	background: #d5251a;
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
}
#header .top_menu li a:hover i {
	color: #d5251a;
}

/*비주얼*/
#visual {
	width: 100%;
	height: 870px;
	position: relative;
	margin: 0 auto;
	min-height: 870px;
}
#visual .in {
	height: 870px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}
#visual .in .vis_tit {
	display: inline-block;
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	font-size: 40px;
}
#visual .slider {
	width: 100%;
	height: 870px;
	overflow: hidden;
}
#visual .slider .pic {
	position: relative;
	width: 100%;
	height: 870px;
}
#visual .slider .pic li {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 1;
	animation: fadeInOut 24s linear infinite;
	width: 100%;
	height: 870px;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
}

#visual .slider .pic .visual_txt {
	color: #fff;
}
#visual .slider .pic .vis_tit h2 {
	position: absolute;
	right: 50%;
	top: 100%;
	transition: all 3s;
}
#visual .visual_txt .visual_txt_1 {
	position: absolute;
	bottom: 40px;
	left: 40px;
	list-style-type: disc;
	width: 170px;
	height: 80px;
	color: #fff;
}
#visual .visual_txt .visual_txt_1 li {
	position: relative;
}
#visual .visual_txt .visual_txt_1 li a {
	position: absolute;
	left: 0px;
	top: 0px;
	color: #fff;
	display: inline-block;
	padding: 2px;
	margin-bottom: 2px;
}
#visual .visual_txt .vis_btn {
	position: absolute;
	top: 20px;
	right: 20px;
}

#visual .slider .pic li:nth-child(1) {
	background-image: url(../images/Visual_8.jpg);
	max-width: 100%;
}
#visual .slider .pic li:nth-child(2) {
	background-image: url(../images/visual_4.jpg);
	max-width: 100%;
}
#visual .slider .pic li:nth-child(3) {
	background-image: url(../images/visual_3.jpg);
	max-width: 100%;
}
#visual .slider .pic li:nth-child(4) {
	background-image: url(../images/visual3.jpg);
	max-width: 100%;
}

/* #visual .slider .pic li .text{position: absolute; left:100%; top:40%; background: rgba(0,0,0,0.7); color:#fff; padding: 20px 40px; border-radius: 10px;
            animation:leftMove 24s linear infinite ;}    */
#visual .slider .pic li .btn_link {
	color: #fff;
	display: inline-block;
	margin-top: 20px;
	border: 1px solid #fff;
	padding: 5px 10px;
	font-size: 14px;
}
.pagenation {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}
.pagenation li {
	width: 20px;
	height: 10px;
	background: #fff;
	border-radius: 50px;
	display: inline-block;
	margin: 0 2px;
	text-indent: -9999px;
	overflow: hidden;
	position: relative;
}
.pagenation li::before {
	content: "";
	display: block;
	width: 0%;
	height: 10px;
	background-color: #d5251a;
	animation: loading 24s ease-in-out infinite;
}

#visual .slider .pic li:nth-of-type(1),
#visual .slider .pic .vis_tit h2,
.pagenation li:nth-of-type(1)::before {
	animation-delay: 0s;
}
#visual .slider .pic li:nth-of-type(2),
.pagenation li:nth-of-type(2)::before {
	animation-delay: 6s;
}
#visual .slider .pic li:nth-of-type(3),
#visual .slider .pic li:nth-of-type(3) .text,
.pagenation li:nth-of-type(3)::before {
	animation-delay: 12s;
}
#visual .slider .pic li:nth-of-type(4),
.pagenation li:nth-of-type(4)::before {
	animation-delay: 18s;
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
		z-index: 0;
	}
	4% {
		opacity: 1;
		z-index: 1;
	} /*1s = 4.166666666666667%*/
	24% {
		opacity: 1;
		z-index: 1;
	} /*6s = 24%*/
	28% {
		opacity: 0;
		z-index: 0;
	}
	100% {
		opacity: 0;
		z-index: 0;
	} /*24s = 100%*/
}
/* @keyframes leftMove {
            0%{left:100%; opacity: 0;}
            5%{left: 10%; opacity: 1;}
            24%{left:10%; opacity: 1;}
            28%{left:100%; opacity: 0;}
            100%{left:100%; opacity: 0;}
        } */

@keyframes loading {
	0% {
		width: 0%;
	}
	12% {
		width: 50%;
	}
	24% {
		width: 100%;
		opacity: 1;
	}
	28% {
		width: 100%;
		opacity: 0;
	}
	100% {
		width: 0%;
		opacity: 0;
	}
}
/*비주얼 종료*/

#contents .pro_area {
	width: 100%;
	height: 550px;
	background: #333;
	position: relative;
}
#contents .pro_area .in {
	width: 1365px;
	height: 550px;
	position: relative;
}
#contents .pro_area:nth-of-type(2) {
	background: #fff;
}
#contents .pro_area .in .tit_red {
	width: 300px;
	height: 25px;
	position: relative;
	left: 85px;
	top: 55px;
	color: #d5251a;
}
#contents .pro_area .in .tit_red .number {
	float: left;
	display: inline-block;
	margin-right: 105px;
	position: relative;
}
#contents .pro_area .in .tit_red .number::after {
	content: "";
	display: block;
	width: 88px;
	height: 1px;
	background: #d5251a;
	position: absolute;
	left: 200%;
	top: 50%;
}

#contents .pro_area .in .pro {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#contents .pro_area .in .pro .car_1 {
	position: absolute;
	bottom: 57px;
	left: 96px;
}
#contents .pro_area .in .pro .car {
	position: absolute;
	bottom: 75px;
	left: 105px;
}
#contents .pro_area .in .pro .car_2 {
	position: absolute;
	top: 183px;
	right: 90px;
}
#contents .pro_area .in .pro .car_logo_3 {
	position: absolute;
	top: 200px;
	left: 915px;
}
#contents .pro_area .in .pro .car_logo {
	position: absolute;
	top: 135px;
	left: 915px;
}
#contents .pro_area .in .pro .car_logo_2 {
	position: absolute;
	top: 200px;
	left: 160px;
}

#contents .pro_area .in .pro .car_btn {
	position: absolute;
	bottom: 123px;
	left: 915px;
	width: 290px;
	height: 190px;
}
#contents .pro_area .in .pro .car_btn .btn_1 {
	background: url(../images/arrow_btn_white.png) no-repeat;
}
#contents .pro_area .in .pro .car_btn .btn_1:hover {
	background: url(../images/arrow_btn_white_2.png) no-repeat;
}
#contents .pro_area .in .pro .car_btn .btn_2 {
	background: url(../images/arrow_btn_white.png) no-repeat;
}
#contents .pro_area .in .pro .car_btn .btn_2:hover {
	background: url(../images/arrow_btn_white_2.png) no-repeat;
}
#contents .pro_area .in .pro .car_btn .btn_3 {
	background: url(../images/arrow_btn_white.png) no-repeat;
}
#contents .pro_area .in .pro .car_btn .btn_3:hover {
	background: url(../images/arrow_btn_white_2.png) no-repeat;
}

#contents .pro_area .in .pro .car_btn_2 {
	background: url(../images/arrow_btn_black.png) no-repeat left;
	position: absolute;
	bottom: 123px;
	left: 160px;
	width: 290px;
}
#contents .pro_area .in .pro .car_btn_2:hover {
	background: url(../images/arrow_btn_black_2.png) no-repeat left;
}
#contents .pro_area .in .pro .car_btn_3 {
	background: url(../images/arrow_btn_white.png) no-repeat left;
	position: absolute;
	bottom: 123px;
	left: 915px;
	width: 290px;
}
#contents .pro_area .in .pro .car_btn_3:hover {
	background: url(../images/arrow_btn_white_2.png) no-repeat left;
	position: absolute;
	bottom: 123px;
	left: 915px;
	width: 290px;
}

#contents .pro_area .in .pro .car_btn li {
	display: block;
	position: relative;
	height: 50px;
	margin-bottom: 20px;
}
#contents .pro_area .in .pro .car_btn li:nth-child(2) span {
	display: inline-block;
	position: absolute;
	top: 9px;
}
#contents .pro_area .in .pro .car_btn li:nth-child(3) span {
	display: inline-block;
	position: absolute;
	top: 9px;
}

#contents .pro_area .in .pro .car_btn_2 li {
	display: block;
	position: relative;
	height: 28px;
	margin-bottom: 60px;
}
#contents .pro_area .in .pro .car_btn_3 li {
	display: block;
	position: relative;
	height: 50px;
	margin-bottom: 20px;
}

#contents .pro_area .in .pro .car_btn > li > a {
	position: relative;
	display: inline-block;
	width: 290px;
	height: 48px;
}
#contents .pro_area .in .pro .car_btn_2 > li > a {
	position: relative;
	display: inline-block;
	width: 290px;
}
#contents .pro_area .in .pro .car_btn_3 > li > a {
	position: relative;
	display: inline-block;
	width: 290px;
}

#contents .pro_area .in .pro .car_btn .btn_1 a .btn_span {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 60px;
	color: #fff;
}
#contents .pro_area .in .pro .car_btn li a span {
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 60px;
	color: #fff;
}
#contents .pro_area .in .pro .car_btn_2 li a p {
	display: inline-block;
	position: absolute;
	top: 0px;
	left: 60px;
	color: #333;
}
#contents .pro_area .in .pro .car_btn_3 li a p {
	display: inline-block;
	position: absolute;
	top: 4px;
	left: 60px;
	color: #fff;
}

#contents .news_area {
	width: 100%;
	height: 790px;
	position: relative;
}
#contents .news_area .in {
	width: 1365px;
	height: 790px;
	position: relative;
}
#contents .news_area .in .text {
	width: 391px;
	height: 400px;
	margin: 120px 800px 300px 178px;
	position: absolute;
}
#contents .news_area .in .text h2 {
	color: #000;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 20px;
	display: inline-block;
	line-height: 1.1;
}
#contents .news_area .in .text p {
	color: #000;
	font-size: 18px;
}

#contents .news_area .in .btn {
	width: 1365px;
	height: 790px;
	position: relative;
}
#contents .news_area .in .btn > img {
	position: absolute;
	top: 77px;
	right: 174px;
	bottom: 180px;
	left: 693px;
}
#contents .news_area .in .btn .btn_link {
	background: url(../images/arrow_btn_black.png) no-repeat right;
	display: inline-block;
	margin: 590px 1021px 195px 178px;
	width: 150px;
	height: 48px;
	position: relative;
}
#contents .news_area .in .btn .btn_link:hover {
	background: url(../images/arrow_btn_black_2.png) no-repeat right;
}
#contents .news_area .in .btn .btn_link span {
	position: absolute;
	left: 0;
	top: 12px;
	display: inline-block;
	color: #777;
	font-size: 16px;
}
#contents .news_area .in .btn .btn_link img {
	position: absolute;
	right: 23px;
	top: 2px;
}
#contents .news_area .in .btn .arr_left {
	position: absolute;
	right: 1282px;
	top: 364px;
	bottom: 405px;
	left: 71px;
}
#contents .news_area .in .btn .arr_right {
	position: absolute;
	left: 1282px;
	top: 364px;
	bottom: 405px;
	right: 71px;
}

#contents .section_site {
	height: 775px;
	width: 100%;
	position: relative;
}

#contents .section_site .site_area_left {
	position: absolute;
	right: 50%;
	overflow: hidden;
	width: 100%;
	background: #171717;
}
#contents .section_site .site_area_left .in {
	height: 775px;
	position: relative;
	margin-right: 0;
	width: 683px;
	border: 0;
}
#contents .section_site .site_area_left .in .left_img {
	height: 775px;
	position: absolute;
	right: 0;
}
#contents .section_site .site_area_left .in:hover .left_img img {
	transform: scale(1.1);
	transition: 3s;
}
#contents .section_site .site_area_left > .in .left_text {
	position: absolute;
	left: 134px;
	top: 413px;
	color: #fff;
	width: 436px;
	height: 315px;
	text-align: center;
}
#contents .section_site .site_area_left > .in .left_text p {
	font-size: 26px;
}
#contents .section_site .site_area_left > .in .left_text h2 {
	font-size: 53px;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 70px;
	line-height: 1.2em;
}
#contents .section_site .site_area_left > .in .left_text .btn_more {
	background: url(../images/arrow_btn_white.png) no-repeat right;
	width: 257px;
	height: 48px;
	position: relative;
	margin-bottom: 0;
	margin-left: 99px;
}
#contents .section_site .site_area_left > .in .left_text .btn_more:hover {
	background: url(../images/arrow_btn_white_2.png) no-repeat right;
}

#contents .section_site .site_area_left > .in .left_text .btn_more span {
	color: #fff;
	font-size: 20px;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 8px;
}

#contents .section_site .site_area_right {
	position: absolute;
	left: 50%;
	overflow: hidden;
	width: 100%;
	background: #171717;
}
#contents .section_site .site_area_right .in {
	height: 775px;
	position: relative;
	margin-left: 0;
	border: 0 solid;
	width: 683px;
}
#contents .section_site .site_area_right .in .right_img {
	height: 775px;
	position: absolute;
	left: 0;
}
#contents .section_site .site_area_right .in:hover .right_img img {
	transform: scale(1.1);
	transition: 3s;
}
#contents .section_site .site_area_right > .in .right_text {
	position: absolute;
	left: 134px;
	top: 413px;
	color: #fff;
	width: 436px;
	height: 315px;
	text-align: center;
}
#contents .section_site .site_area_right > .in .right_text p {
	font-size: 26px;
	color: #fff;
}
#contents .section_site .site_area_right > .in .right_text h2 {
	font-size: 53px;
	color: #fff;
	font-weight: 700;
	margin-top: 30px;
	margin-bottom: 70px;
	line-height: 1.2em;
}
#contents .section_site .site_area_right > .in .right_text .btn_more {
	background: url(../images/arrow_btn_white.png) no-repeat right;
	width: 230px;
	height: 48px;
	position: relative;
	margin-bottom: 0;
	margin-left: 111px;
}
#contents .section_site .site_area_right > .in .right_text .btn_more:hover {
	background: url(../images/arrow_btn_white_2.png) no-repeat right;
}
#contents .section_site .site_area_right > .in .right_text .btn_more img {
	position: absolute;
	top: 0;
	right: 0;
}
#contents .section_site .site_area_right > .in .right_text .btn_more span {
	color: #fff;
	font-size: 20px;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 8px;
}
/*이미지,피테그에 디스플레이 블럭이나 포지션 으로 위치 지정해주기*/

#footer {
	width: 100%;
	height: 1500px;
}
#footer .footer_newsletters {
	width: 100%;
	height: 80px;
	background: #333;
}
#footer .footer_newsletters .in {
	height: 80px;
}
#footer .footer_newsletters .btn_link {
	background: url(../images/arrow_btn_white.png) no-repeat right;
	display: inline-block;
	position: relative;
	width: 450px;
	height: 55px;
	margin-top: 13px;
	margin-left: 467px;
}
#footer .footer_newsletters .btn_link:hover {
	background: url(../images/arrow_btn_white_2.png) no-repeat right;
}
#footer .footer_newsletters .btn_link img {
	position: absolute;
	top: 4px;
	right: 2px;
	bottom: 2px;
}
#footer .footer_newsletters .btn_link span {
	font-size: 18px;
	color: #fff;
	position: absolute;
	top: 11px;
}

#footer .footer_menu_area {
	width: 100%;
	height: 610px;
	background: #171717;
	color: #eee;
	position: relative;
}
#footer .footer_menu_area .in {
	height: 610px;
	padding-top: 65px;
	padding-left: 95px;
	border-bottom: 0;
}
#footer .footer_menu_area .in .footer_menu {
	float: left;
	margin-right: 80px;
	font-size: 14px;
	text-align: center;
}
#footer .footer_menu_area .in .footer_menu:last-child {
	margin-right: 0;
}
#footer .footer_menu_area .in .footer_menu h2 {
	font-size: 16px;
}
#footer .footer_menu_area .in .footer_menu li {
	padding: 2px 0;
	margin-top: 15px;
}
#footer .footer_menu_area .in .footer_menu li a {
	color: #eee;
}

#footer .footer_sns_area {
	width: 100%;
	height: 420px;
	background: #171717;
	color: #eee;
	position: relative;
}
#footer .footer_sns_area .in {
	height: 420px;
	padding-top: 65px;
	padding-left: 125px;
	border-top: 0;
	border-bottom: 0;
}
#footer .footer_sns_area .in .footer_menu {
	float: left;
	margin-right: 120px;
	font-size: 14px;
	text-align: center;
}
#footer .footer_sns_area .in .footer_menu:last-child {
	margin-right: 0;
}
#footer .footer_sns_area .in .footer_menu li {
	padding: 2px 0;
	margin-top: 15px;
}
#footer .footer_sns_area .in .footer_menu li a {
	color: #eee;
}

#footer .footer_copy_area {
	width: 100%;
	height: 300px;
	background: #171717;
	color: #eee;
}
#footer .footer_copy_area .in {
	height: 300px;
	position: relative;
}
#footer .footer_copy_area .in .footer_copy {
	font-size: 12px;
	color: #737373;
	text-align: center;
	line-height: 1.5em;
	padding-top: 70px;
}
#footer .footer_copy_area .in .footer_copy p {
	padding-bottom: 20px;
}

#footer .footer_country_area {
	width: 100%;
	height: 80px;
	background: #333;
}
#footer .footer_country_area .in {
	height: 80px;
}
#footer .footer_country_area .in .footer_country {
	padding-top: 18px;
}
#footer .footer_country_area .in li a {
	float: left;
	font-size: 14px;
	margin-left: 20px;
	padding: 10px;
	color: #eee;
}
#footer .footer_country_area .in .change_country {
	float: right;
	margin: 15px 40px 15px;
	padding: 10px;
	display: inline-block;
	color: #eee;
}

#footer .footer_bottom {
	width: 100%;
	height: 55px;
	background: #171717;
}
#footer .footer_bottom .in {
	height: 55px;
	width: 1365px;
}
#footer .footer_bottom .in .footer_logo {
	margin-left: 660px;
	width: 35px;
	height: 30px;
	padding: 11px;
}
